# basic requests handling
requests==2.31.0

# FastAPI requirements
fastapi==0.104.1
uvicorn[standard]==0.23.2

pydantic==2.4.2
pydantic-settings==2.0.3

# cloud storage requirements
google-cloud-storage==2.12.0
