on:
  push:
    branches:
      - main

name: Deploy to Docker Hub

env:
  GCE_INSTANCE: zippy
  GCE_INSTANCE_ZONE: europe-west3-c

jobs:
  push-to-gcloud:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: 'actions/checkout@v2'

      - name: Set up Docker Buildx
        id: buildx
        uses: 'docker/setup-buildx-action@v1'

      - name: Prepare environment
        run: |
          [ -d "${GITHUB_WORKSPACE}/creds" ] || mkdir "${GITHUB_WORKSPACE}/creds"
          echo "${STORAGE_CREDENTIALS}" > "${GITHUB_WORKSPACE}/creds/storage-credentials.json"
          
          cat <<EOT >> "${GITHUB_WORKSPACE}/.env"
          RUNNING_MODE="${RUNNING_MODE:-background}"
          RUN_CLEAN_UP="${RUN_CLEAN_UP:-True}"
          
          GOOGLE_APPLICATION_CREDENTIALS="${GITHUB_WORKSPACE}/creds/storage-credentials.json"
          
          BUCKET_NAME="${STORAGE_BUCKET_NAME}"
          SECRET_PASSPHRASE="${APPLICATION_PASSPHRASE}"
          EOT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: code4romania/redirectioneaza-zipping
          tags: |
            type=edge
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Build and push
        id: docker_build
        uses: 'docker/build-push-action@v2'
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args:
            ENVIRONMENT="production"

      - id: 'auth'
        uses: 'google-github-actions/auth@v0.7.1'
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v0.6.0'

      - name: Deploy
        run: |-
          gcloud compute instances update-container "${GCE_INSTANCE}" \
            --zone "${GCE_INSTANCE_ZONE}" \
            --container-image "code4romania/redirectioneaza-zipping:edge"
