on:
  push:
    branches:
      - main

name: Deploy to Docker Hub

env:
  GCE_INSTANCE: ${{ secrets.GCE_INSTANCE }}
  GCE_INSTANCE_ZONE:  ${{ secrets.GCE_INSTANCE_ZONE }}

jobs:
  push-to-gcloud:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: 'actions/checkout@v2'

      - name: Set up Docker Buildx
        id: buildx
        uses: 'docker/setup-buildx-action@v1'

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: code4romania/redirectioneaza-zipping
          tags: |
            type=edge
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Build and push to Docker Hub
        id: docker_build
        uses: 'docker/build-push-action@v2'
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args:
            ENVIRONMENT=production

      - id: 'auth'
        uses: 'google-github-actions/auth@v0.7.1'
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v0.6.0'

      - name: Deploy to GCP
        run: |-
          gcloud compute instances update-container ${GCE_INSTANCE} \
            --zone ${GCE_INSTANCE_ZONE} \
            --container-image "code4romania/redirectioneaza-zipping:edge"
